.MainHero {
    display: flex;
    flex-direction: column;
    letter-spacing: 6px;

    &__bg {
        width: 100%;
        height: 60vh;
        background-image: url('../../../assets/main_hero.png');
        background-size: cover;
        background-position: center;
    }

    &__text {
        max-width: 80%;
        align-self: center;
        padding: 0;
        margin-top: 200px;
        margin-bottom: 100px;
        letter-spacing: 0;

        * {
            margin: 0;
        }
    }

    &__hook {
        color: black;
        font-size: 2em;
        font-family: var(--sans);
        font-weight: 400;
    }

    &__subtext {
        font-size: 1em;
        font-family: 'Poppins';
        font-weight: 300;
    }
}
