@media (min-width: 300px) {
  .CustomizationPage {
    max-width: 100%;
    overflow: hidden;

    .MainHero {
      &__bg {
        background-image: url("../../../assets/img/hero_banners/customization_banner.jpg");
      }

      &__text {
        overflow-x: hidden;
        word-wrap: break-word;
        width: 90%;
        word-wrap: break-word;
        hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
      }
    }

    &__pic {
      position: absolute;

      &--index-1 {
        width: 70%;
        margin-top: 30%;
        margin-left: 25%;
      }

      &--index-2 {
        display: none;
      }

      &--index-3 {
        width: 35%;
        margin-left: 2%;
      }

      &--index-4 {
        width: 57%;
        margin-left: 2%;
        margin-top: 30%;
      }

      &--index-5 {
        width: 35%;
        margin-left: 63%;
        margin-top: -25%;
      }

      &--index-6 {
        width: 50%;
        margin-left: -8%;
        margin-top: -110vh;
      }

      &--index-7 {
        width: 45%;
        margin-left: 63%;
        margin-top: -85vh;
      }

      &--index-8 {
        width: 55%;
        margin-top: 65vh;
      }

      &--index-9 {
        width: 33%;
        margin-left: 61%;
        margin-top: 30vh;
      }

      &--index-10 {
        width: 50%;
        margin-top: 85vh;
        margin-left: 60%;
      }

      &--index-11 {
        width: 35%;
        margin-top: -100vh;
      }

      &--index-12 {
        width: 60%;
        margin-top: -130vh;
        margin-left: 50%;
      }

      &--index-13 {
        width: 70%;
        margin-top: -90vh;
        margin-left: 30%;
      }

      &--index-14 {
        width: 45%;
        margin-top: -50vh;
      }

      &--index-15 {
        width: 25%;
        margin-top: -30vh;
        margin-left: 60%;
      }
    }

    .CustomizationService {
      margin-top: 90%;
      padding-top: 60%;
      min-height: 120vh;

      &.repertoire,
      &.decoration {
        background-color: var(--white);
        color: var(--black);

        .Button {
          background-color: var(--black);
          color: var(--white);
          border-color: var(--white);
        }
      }

      &.decoration {
        .CustomizationService {
          &__hook {
            margin-top: 60vh;
          }

          &__subtext {
            display: none;
          }
        }
      }

      &__hook {
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0;
      }

      &__subtext {
        font-family: "poppins";
        font-weight: normal;
        text-align: center;
        max-width: 80%;
        margin: 0 auto;
      }

      &__list {
        max-width: 80%;
        margin: 30% auto;
        padding: unset;

        &__item {
          list-style: none;
          font-family: var(--sans);
          font-size: 1.5rem;
          text-align: center;
          line-height: 2rem;
        }
      }

      &__button {
        display: flex;
        text-decoration: none;
        width: 100%;
      }

      &__video {
        &--wrapper {
          margin-top: 80vh;
          display: flex;
          flex-direction: column;
        }

        object-fit: cover;
        width: 100%;

        &__text {
          display: flex;
          flex-direction: column;
          align-items: center;

          width: 100%;

          background-color: var(--yellow);
          color: var(--black);
          font-family: "Poppins";
          border-radius: 0 0 20px 20px;

          a:has(.Button) {
            min-width: 30%;
          }

          .Button {
            height: unset;
            margin: 5% auto;
            font-size: 0.8rem;
            background-color: var(--yellow);
          }
        }

        &__hook {
          font-family: var(--sans);
          font-weight: normal;
          margin-bottom: 0;
        }

        &__subtext {
          max-width: 80%;
          margin-top: 0;
          text-align: center;
          font-weight: normal;
        }
      }

      &__subservice {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50%;

        &:nth-child(4) {
          height: 200vh;
        }

        &__name {
          font-size: 1.4rem;
          font-family: "Poppins";
          font-weight: 600;
        }

        &__hook {
          text-align: center;
          font-family: var(--sans);
          font-weight: normal;
          margin-bottom: 0;
        }

        &__subtext {
          text-align: center;
          font-size: 1rem;
          font-family: "Poppins";
          font-weight: normal;
          margin-top: 0;
        }

        &__video {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .CustomizationPage {
    .MainHero {
      &__bg {
        height: 900px;
        background-position: 50% 30%;
      }

      &__text {
        text-align: center;
        margin: 25% 0;
      }

      &__hook {
        font-size: 2.5rem;
      }

      &__subtext {
        font-size: 1.5rem;
      }
    }

    &__pic {
      &--index-1 {
        width: 25%;
        margin-left: 70%;
        margin-top: -25%;
      }

      &--index-2 {
        display: unset;
        width: 12%;
        margin-left: 35%;
        margin-top: -10%;
      }

      &--index-3 {
        width: 20%;
        margin-left: 8%;
        margin-top: -40%;
      }

      &--index-4 {
        width: 20%;
        margin-left: 6%;
        margin-top: -12%;
      }

      &--index-5 {
        width: 10%;
        margin-left: 76%;
        margin-top: -5%;
      }

      &--index-6 {
        width: 15%;
        margin-left: 3%;
        margin-top: -60%;
      }

      &--index-7 {
        width: 20%;
        margin-left: 67%;
        margin-top: -80%;
      }

      &--index-8 {
        width: 16%;
        margin-top: -5%;
        margin-left: 4%;
      }

      &--index-9 {
        width: 12%;
        margin-left: 55%;
        margin-top: -4%;
      }

      &--index-10 {
        width: 14%;
        margin-top: 4%;
        margin-left: 89%;
      }

      &--index-11 {
        width: 13%;
        margin-top: -80%;
        margin-left: 5%;
      }

      &--index-12 {
        width: 21%;
        margin-top: -88%;
        margin-left: 79%;
      }

      &--index-13 {
        width: 20%;
        margin-top: -70%;
        margin-left: 45%;
      }

      &--index-14 {
        width: 15%;
        margin-top: -50%;
        margin-left: 25%;
      }

      &--index-15 {
        width: 10%;
        margin-top: -30%;
        margin-left: 64%;
      }
    }

    .CustomizationService {
      margin-top: unset;
      padding-top: 15%;

      &.decoration {
        .CustomizationService__subtext {
          display: block;
          font-size: 1.5rem;
        }
      }

      &__hook {
        font-size: 4rem;
      }

      &__list {
        margin: 5% auto;
      }

      .Button {
        height: 60px;
        font-size: 1.2rem;
      }

      &__video {
        position: relative;
        width: 60%;
        margin: auto;
        margin-bottom: 10%;

        &__text {
          margin-left: 25%;
          margin-top: 10%;
          position: absolute;
          width: 25%;
          background: transparent;
          color: var(--yellow);
          align-items: start;

          a {
            height: 100%;
            width: 100%;
            .Button {
              display: none;
            }
          }
        }

        &__hook,
        &__subtext {
          text-align: left;
        }

        &--wrapper {
          margin-top: 20%;
        }
      }

      &__subservice {
        margin-top: 12%;

        &__name {
          margin-bottom: 5%;
        }

        &__hook {
          font-size: 1.3rem;
        }

        &__subtext {
          max-width: 66%;
          margin: 0 auto;
          font-size: 1.2rem;
          opacity: 0.6;
        }

        &__video {
          object-fit: cover;
          max-height: 240px;
          width: 100%;
        }
      }
    }
  }
}
