@media (min-width: 300px) {
  .Contact {
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: var(--black);

    .ContactForm {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      overflow: hidden;

      video {
        position: fixed;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center;
        z-index: 0;
      }

      &__content {
        position: relative;
      }

      &__title {
        margin-top: 300px;
        font-size: 48px;
        text-transform: uppercase;
        padding: 5%;
      }

      label,
      input {
        display: block;
        width: calc(100% - 32px);
        margin: auto;
        text-align: left;
        font-family: "Poppins";
      }

      label {
        margin-bottom: 6px;
        font-weight: 700;
        font-size: 20px;

        span {
          font-weight: normal;
          font-size: 14px;
        }
      }

      input {
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: 1px solid white;
        margin: 0 auto;
        color: var(--white);
        margin-bottom: 40px;

        &:focus-visible,
        &:focus {
          outline: none;
          border-shadow: none;
        }

        &[type="submit"] {
          background-color: var(--white);
          color: var(--black);
          border-radius: 100px;
          text-align: center;
        }
      }

      textarea {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        color: var(--white);
        font-family: "Poppins";
        border: none;
        border-bottom: 1px solid white;
        width: calc(100% - 32px);
        margin: auto;
        margin-bottom: 40px;
      }

      &__content__faq-link {
        display: block;
        font-family: var(--sans);
        color: var(--white);
        text-align: center;
        margin-top: 150px;
      }
    }
  }

  .Footer {
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .Contact {
    .ContactForm {
      &__title {
        max-width: 560px;
        margin-left: 173px;
        margin-top: 240px;
        font-size: 64px;
      }

      &__content {
        position: auto;

        form {
          display: grid;
          grid-template-columns: 50% auto;
          width: 843px;
          margin: auto;
          column-gap: 143px;
          row-gap: 40px;

          div {
            width: 350px;
          }

          div:nth-child(odd) {
            grid-column: 1;
          }

          div:nth-child(even) {
            grid-column: 2;
          }

          div:has(label[for="details"]) {
            width: auto;
            grid-column: 1 / 3;
          }

          label {
            font-size: 24px;
          }

          input,
          textarea {
            font-size: 20px;
            font-weight: 100;
          }

          input[type="submit"] {
            grid-column: 2;
            margin-right: 0;
          }
        }

        &__faq-link {
          text-align: left;
          width: 843px;
          margin: auto;
          margin-top: 100px;
          margin-bottom: 67px;
        }
      }
    }
  }
}
