@media (min-width: 300px) {
  .Videos {
    background-color: var(--black);
    color: var(--white);
    .MainHero {
      &__bg {
        object-fit: cover;
      }
    }

    &Carousel {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      overflow: clip;

      .use-spring-carousel-main-wrapper {
        height: auto !important;
        margin-left: 6%;
      }

      .use-spring-carousel-item {
        width: 85% !important;
      }

      .use-spring-carousel-thumbs-wrapper {
        cursor: pointer;
        width: fit-content !important;
        margin: 0 auto;
      }

      .thumb-item {
        font-size: 2rem;
        margin-right: 4px;
      }

      &__title {
        padding-top: 8%;
        text-align: center;
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: lighter;

        span {
          font-size: 2.5rem;
          font-family: "Poppins";
          font-weight: lighter;
        }
      }

      &__iframe {
        width: 100%;
      }

      &__item {
        &__active,
        &__prev,
        &__next {
          margin: 0 auto;
        }
      }

      &Wrapper {
        &:nth-child(even) {
          background-color: var(--white);
          color: var(--black);
        }
      }

      &__arrow {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Videos {
    .thumb-item {
      width: auto;
      font-size: 1.5rem;
      margin-right: 8px;
    }

    .use-spring-carousel-main-wrapper {
      height: auto !important;
      margin-left: 50vw;
      padding-top: 10%;
    }

    .use-spring-carousel-thumbs-wrapper {
      width: auto !important;
    }

    .use-spring-carousel-track-wrapper {
      align-items: center;
    }

    &Carousel {
      margin: 0 auto;
      width: 85%;
      overflow: visible;

      &__carousel-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      &__iframe {
        width: 100%;
      }

      &__item {
        width: 100%;
        height: 100%;

        &__active {
          .VideosCarousel__iframe {
            width: 40vw;
            height: calc(9 * 40vw / 16);
          }
          margin-left: -2.5vw;
        }

        &__prev,
        &__next {
          .VideosCarousel__iframe {
            width: 18vw;
            height: calc(9 * 15vw / 16);
          }
        }

        &__next {
          margin-left: 2vw;
        }

        &__inactive {
          display: none;
        }
      }

      &__arrow {
        display: block;
        width: 30px;
        height: 30px;
        margin: auto 0;
        fill: var(--white);
        z-index: 3;

        &--next {
          margin-left: 8px;
        }

        &--prev {
          margin-right: 8px;
        }
      }

      &Wrapper {
        height: 75vh;
        padding-bottom: 10%;

        &:nth-child(even) {
          .VideosCarousel__arrow {
            fill: var(--black);
          }
        }
      }
    }
  }
}
