@media (min-width: 300px) {
  .Videos {
    background-color: var(--black);
    color: var(--white);
    .MainHero {
      &__bg {
        object-fit: cover;
      }
    }

    &Carousel {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 75vh;

      &__title {
        padding-top: 8%;
        text-align: center;
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: lighter;

        span {
          font-size: 2.5rem;
          font-family: "Poppins";
          font-weight: lighter;
        }
      }

      &Wrapper {
        &:nth-child(even) {
          background-color: var(--white);
          color: var(--black);
        }
      }

      &__prev-arrow {
        display: none;
      }

      &__next-arrow {
        display: none;
      }
    }

    .alice-carousel {
    }
  }
}

@media (min-width: 1200px) {
  .Videos {
    .thumb-item {
      font-size: 1.5rem;
      margin-right: 8px;
    }

    .use-spring-carousel-main-wrapper {
      height: auto !important;
    }

    .use-spring-carousel-thumbs-wrapper {
      flex: unset !important;
      height: unset !important;
      width: auto !important;
    }

    &Carousel {
      margin: 0 auto;
      width: 75%;

      &__carousel-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      &__arrow {
        display: block;
        width: 30px;
        height: 30px;
        margin: auto 0;
        fill: var(--white);
        z-index: 3;

        &--next {
          margin-left: 8px;
        }

        &--prev {
          margin-right: 8px;
        }
      }

      &Wrapper {
        padding-bottom: 10%;

        &:nth-child(even) {
          .VideosCarousel__arrow {
            fill: var(--black);
          }
        }
      }
    }
  }
}
