@media (min-width: 300px) {
    .Footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        padding: 20% 0 0 0;
        background: var(--black);
        color: var(--white);
        font-family: 'Poppins';

        input {
            font-family: inherit;
        }

        li {
            list-style: none;
        };

        &__nav {
            width: 100%;

            &-ul {
                margin-left: 5%;
                padding: unset;
            }

            &-link {
                text-transform: capitalize;
                color: unset;
                text-decoration: none;

                &:hover, &:active {
                    color: var(--accent);
                }
            }
        }

        &__social {
            width: 100%;

            &-ul {
                width: 25%;
                margin-left: 5%;
                padding: unset;
                display: flex;
                justify-content: space-between;
            }
        }

        &__contact {
            width: 95%;
            margin-top: 30%;
        }

        &__contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            label[for='message'] {
                margin: 5%;
                width: 90%;

                font-size: 2rem;
                font-family: var(--serif);
            }

            input[type='text'] {
                margin: 3%;
                width: 90%;

                border: unset;
                border-bottom: 1px solid var(--white);
                color: var(--white);
                background: var(--black);
            }

            input[value='Enviar'] {
                width: 90%;
                height: 50px;
                margin: 2% 0;

                color: var(--black);
                background: var(--white);

                border: none;
                border-radius: 50px;

                font-size: 1.2em;
                font-weight: 600;
            }
        }

        &__contact-data {
            margin-top: 5%;
        }

        &__logo {
            width: 150px;
            margin: 25%;

            &--big {
                display: none;
            }

            &--small {
                display: unset;
            }
        }
    }
}

@media (min-width: 1200px) {
    .Footer {
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: 50%;

        &__nav {
            grid-column: 3/4;
            width: 60%;
            margin-left: auto;

            display: grid;
            grid-template-areas: "social social"
                            "nav1 nav2";

            &-ul:first-child {
                grid-area: nav1;
            }
            
            &-ul:last-child {
                grid-area: nav2;
            }
        }

        &__social {
            grid-area: social;
            width: 100%;
            margin-bottom: 8%;

            &-ul {
                width: 50%;
                margin: unset;
                margin-left: 2%;

                a {
                    margin-left: 2%;

                    &:last-child {
                        margin-left: 3%;
                    }
                }
            }
        }

        &__contact {
            grid-column: 1/3;
            grid-row: 1;

            width: 70%;
            margin: unset;
            margin-left: 8%;

            &-form {
                display: grid;
                grid-template-areas: "title button"
                                     "input button";
               
                label[for="message"] {
                    grid-area: title;
                    margin: unset;
                    margin-bottom: 10%;
                    padding: unset;
                }

                input[type="text"] {
                    grid-area: input;
                    margin: unset;
                }
                
                input[type="submit"] {
                    grid-area: button;
                    margin-top: auto;
                }
            }
            
            &-data {
                display: flex;
                justify-content: space-around;
            }
        }

        &__logo {
            grid-column: 1/4;
            grid-row: 2;
            margin: 6% auto;
            width: 250px;

            &--small {
                display: none;
            }

            &--big {
                display: unset;
            }
        }
    }
}
