@media (min-width: 300px) {
  .Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    padding: 20% 0 0 0;
    background: var(--black);
    color: var(--white);
    font-family: "Poppins";

    input {
      font-family: inherit;
    }

    li {
      list-style: none;
    }

    &__nav {
      width: 100%;

      &-ul {
        margin-left: 5%;
        padding: unset;
        margin-bottom: 30px;
      }

      &-link {
        text-transform: capitalize;
        color: unset;
        text-decoration: none;
        font-weight: lighter;

        &:hover,
        &:active {
          color: var(--accent);
        }
      }
    }

    &__social {
      width: 100%;

      &-ul {
        width: 96px;
        margin-left: 5%;
        padding: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__contact {
      width: 95%;
      margin-top: 128px;

      &__phone {
        display: flex;
        align-items: center;
        gap: 6px;

        div {
          width: 21px;
          height: 21px;

          background: url("../../../assets/img/phone.png");
        }
      }

      &__email {
        display: flex;
        align-items: center;
        gap: 6px;

        div {
          width: 21px;
          height: 14px;

          background: url("../../../assets/img/mail.png");
        }
      }
    }

    &__contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      label[for="message"] {
        width: 100%;
        margin-left: 18px;

        font-size: 36px;
        font-family: var(--serif);
      }

      input[type="text"] {
        width: calc(100% - 18px);
        margin-top: 30px;
        margin-bottom: 21px;

        font-size: 14px;
        font-weight: lighter;

        border: unset;
        border-bottom: 1px solid var(--white);
        color: var(--white);
        background: var(--black);
      }
    }

    &__contact-data {
      margin-top: 45px;
      font-size: 12px;
    }

    &__logo {
      width: 150px;
      margin: 25%;

      &--big {
        display: none;
      }

      &--small {
        display: unset;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Footer {
    margin: unset;
    padding: unset;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 25%;
    grid-template-rows: 50%;

    &__nav {
      grid-column: 3/4;
      width: 60%;
      margin-left: auto;

      display: grid;
      grid-template-areas:
        "social social"
        "nav1 nav2";

      &-ul:first-child {
        grid-area: nav1;
      }

      &-ul:last-child {
        grid-area: nav2;
      }
    }

    &__social {
      grid-area: social;
      width: 100%;
      margin-bottom: 8%;

      &-ul {
        width: 50%;
        margin: unset;
        margin-left: 2%;

        a {
          margin-left: 2%;

          &:last-child {
            margin-left: 3%;
          }
        }
      }
    }

    &__contact {
      grid-column: 1/3;
      grid-row: 1;

      width: 70%;
      margin: unset;
      margin-left: 8%;

      &-form {
        display: grid;
        grid-template-areas:
          "title button"
          "input button";

        label[for="message"] {
          grid-area: title;
          margin: unset;
          margin-bottom: 10%;
          padding: unset;
        }

        input[type="text"] {
          grid-area: input;
          margin: unset;
        }

        input[type="submit"] {
          grid-area: button;
          margin-top: auto;
        }
      }

      &-data {
        display: flex;
        gap: 39px;
      }
    }

    &__logo {
      grid-column: 1/4;
      grid-row: 2;
      margin: 6% auto;
      width: 250px;

      &--small {
        display: none;
      }

      &--big {
        display: unset;
      }
    }
  }
}
