@media (min-width: 300px) {
  .Landing {
    background: var(--black);
    color: var(--white);

    .CookieNotice {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 40%;
      font-family: "Poppins";
      color: var(--black);
      background-color: var(--yellow);
      border-radius: 30px 30px 0 0;
      z-index: 2;

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        &--text {
          width: 100%;
          margin: 5% auto;
        }
      }

      &__text {
        text-align: center;
      }

      &__icon {
        width: 59px;
        height: 59px;
        margin: 2% auto;
        background-image: url("../../../assets/img/cookies.png");
      }

      .Button {
        width: 90%;
        height: 20%;
        margin: 5% 0;
        background-color: inherit;
        a {
          color: inherit;
          font-weight: bold;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .Landing {
    .CookieNotice {
      height: 10%;
      border-radius: 100px 100px 0 0;

      &__wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: 100%;
        margin: auto;

        * {
          margin: unset;
        }

        &--text {
          display: flex;
          justify-content: start;
          margin: unset;
        }
      }

      &__text {
        width: 50%;
        margin: auto 5%;
        text-align: left;
      }

      .Button {
        width: 18%;
        height: 60%;
      }
    }

    .MainHero {
      &__text {
        margin: 12% 0;
      }

      &__hook {
        color: inherit;
      }

      &__bg {
        width: inherit;
        height: auto;
      }
    }

    .LandingServices {
      &__special {
        margin-top: 15%;
        flex-direction: row;
      }
    }

    .Service {
      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &--special {
        height: 20%;

        &.infinity {
          .Service__title--special {
            span {
              color: #fa09ff;
              font-size: 2.5rem;
            }
          }
        }

        &.candlemusic-agency {
          .Service__title--special {
            span {
              color: #f4df9b;
              font-size: 1.3rem;
              font-weight: 300;
              letter-spacing: 0.7rem;
              line-height: 2rem;

              &:nth-child(odd) {
                font-size: 1rem;
                font-weight: lighter;
                letter-spacing: 1rem;
              }
            }
          }
        }

        &:nth-child(even) {
          /*
             * candlemusic agency div
             */
          a {
            flex-direction: row-reverse;

            .Service__interaction--special {
              background-color: #ffe58f;
              color: black;
              border-radius: 0 0 0 80px;
              padding-left: 8%;
              width: 22%;

              &__logo {
                width: 93px;
                height: 70px;
                background-image: url("../../../assets/img/cma_logo.png");
              }
            }

            .Service__subtitle--special {
              border-color: black;
            }
          }
        }

        a {
          text-decoration: none;
          color: inherit;

          width: 100%;
          display: flex;
          flex-direction: row;
          margin: unset;
        }
      }

      width: 100%;
      display: flex;
      flex-direction: row;
      margin: unset;

      &__interaction {
        width: 50%;
        text-align: center;

        .Button {
          width: 25%;
          height: 45px;
          margin-top: 10px;
        }

        &--special {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 2%;
          background: #4d0777;
          width: 30%;
          border-radius: 0 80px 0 0;

          &__logo {
            font-family: var(--sans);
            font-size: 1.3em;
            font-weight: 600;
          }
        }
      }

      &__title {
        max-width: 75%;

        &--span {
          display: block;
        }

        &--special {
          position: absolute;
          max-width: unset;
          width: 50%;
          text-align: center;
          margin: 130px 12%;
          z-index: 1;

          span {
            display: block;
            font-family: var(--sans);
          }
        }
      }

      &__subtitle--special {
        border-left: 1px solid white;
        padding-left: 4%;
        margin-bottom: 0;
        font-family: "Poppins";
        font-size: 2.5em;
        line-height: 0.9em;
        width: 75%;
        text-transform: uppercase;
      }

      &__banner {
        width: 50%;
        border-radius: unset;

        &--special {
          width: 70%;
          height: 280px;

          &__video {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .Reviews {
      &__title {
        font-size: 3rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 15%;
        margin-bottom: 3%;
      }

      &__separation-line {
        width: 12%;
        height: 2px;
        background-color: white;
        margin: auto;
        margin-bottom: 3%;
      }

      &--wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }

      &__review {
        &-wrapper {
          width: 25%;
        }

        width: 100%;
        font-family: "Poppins";
        text-align: center;
        margin: auto;
      }

      &__decorative-dot {
        display: none;
      }

      &__collabs {
        width: 90vw;
        height: 90vh;
        margin: auto;
        background-image: url("../../../assets/img/collabs_desktop.png");
        background-size: contain;
      }
    }
  }
}
