@media (min-width: 300px) {
  .Landing {
    background: var(--black);
    color: var(--white);
    overflow: hidden;

    .CookieNotice {
      display: none;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 40%;
      font-family: "Poppins";
      color: var(--black);
      background-color: var(--yellow);
      border-radius: 30px 30px 0 0;
      z-index: 2;

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        &--text {
          width: 100%;
          margin: 5% auto;
        }
      }

      &__text {
        text-align: center;
      }

      &__icon {
        width: 59px;
        height: 59px;
        margin: 2% auto;
        background-image: url("../../../assets/img/cookies.png");
      }
    }

    .MainHero {
      &__text {
        margin: 12% 0;
      }

      &__hook {
        font-size: 2.5rem;
        color: inherit;
        text-align: center;
      }

      &__bg {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 65% 80%;
      }
    }

    .Service {
      flex-direction: column-reverse;
      width: 100%;

      &--special {
        a {
          display: flex;
          flex-direction: column-reverse;
          text-decoration: none;
          color: inherit;
        }

        &.infinity {
          .Service__title--special {
            span {
              color: #fa09ff;
              font-size: 2.5rem;
            }
          }
        }

        &.candlemusic-agency {
          .Service__title--special {
            margin-left: 10%;
            span {
              display: block;
              color: #f4df9b;
              font-size: 1.3rem;
              font-weight: 300;
              line-height: 2rem;

              &:nth-child(even) {
                font-size: 1rem;
                font-weight: lighter;
                letter-spacing: 1rem;
                margin-left: 30%;
              }
            }
          }
        }

        &:nth-child(even) {
          /*
             * candlemusic agency div
             */
          a {
            flex-direction: column;

            .Service__interaction--special {
              background-color: #ffe58f;
              color: black;
              border-radius: 0 0 80px 0;

              &__logo {
                width: 66px;
                height: 50px;
                background-image: url("../../../assets/img/cma_logo.png");
                background-size: contain;
              }
            }
          }

          .Service__subtitle--special {
            border-color: black;
          }
        }
      }

      &:nth-child(1) {
        .Service__title {
          margin-left: 8%;
          &-word {
            &:nth-child(even) {
              padding-left: 40%;
            }
          }
        }
      }

      &:nth-child(2) {
        .Service__title {
          margin-left: 12%;
          &-word {
            &:nth-child(even) {
              padding-left: 30%;
            }
          }
        }
      }

      &:nth-child(3) {
        .Service__title {
          text-align: center;
          &-word {
            span:nth-child(1) {
              margin-right: 4%;
              font-size: 1.8rem;
            }
          }
        }
      }

      &__title {
        &-word {
          font-size: 32px;
          margin: 0 auto;
        }

        &--special {
          position: absolute;
          font-family: var(--sans);
          text-transform: uppercase;
          width: 50%;
          margin-left: 17%;
          margin-top: 50%;
        }
      }

      &__interaction {
        width: 100%;
        margin: 0 auto;

        &--special {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 20vh;
          padding: 4%;
          background: #4d0777;
          border-radius: 0 80px 0 0;

          &__logo {
            font-family: var(--sans);
            font-size: 1rem;
            font-weight: 600;
          }
        }
      }

      &__subtitle--special {
        border-left: 1px solid white;
        padding-left: 2%;
        margin-left: 2%;
        margin-bottom: 0;
        font-family: "Poppins";
        font-size: 24px;
        line-height: 109.5%;
        font-weight: normal;
        width: 75%;
        text-transform: uppercase;
      }

      &__banner {
        border-radius: unset;
        width: 100%;

        &--special {
          &__video {
            position: relative;
            height: 50vh;
            width: auto;
            object-fit: cover;
          }
        }
      }
    }
  }

  .LandingServices__special {
    margin-top: 80%;
  }

  .Reviews {
    margin-top: 30%;

    &--wrapper {
      margin-bottom: 120px;
    }

    &__title {
      text-transform: uppercase;
      font-size: 32px;
      font-weight: normal;
      text-align: center;
      padding-left: 16px;
    }

    &__separation-line {
      width: 75%;
      height: 2px;
      background-color: white;
      margin: auto;
      margin-bottom: 3%;
    }

    &__review-wrapper {
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: "Poppins";

      &:last-child {
        .Reviews__decorative-dot {
          display: none;
        }
      }
    }

    &__decorative-dot {
      font-size: 2rem;
      margin: unset;
    }

    &__separator {
      height: 2px;
      width: 228px;
      background-color: var(--white);
      margin: 5% auto 50% auto;
    }

    &__collabs {
      max-width: 640px;
      height: 1000px;
      background-image: url("../../../assets/img/collabs_mobile.png");
      background-size: cover;
      background-position: center;
    }
  }
}

@media (min-width: 1200px) {
  .Landing {
    .CookieNotice {
      height: 10%;
      border-radius: 100px 100px 0 0;

      &__wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: 100%;
        margin: auto;

        * {
          margin: unset;
        }

        &--text {
          display: flex;
          justify-content: start;
          margin: unset;
        }
      }

      &__text {
        width: 50%;
        margin: auto 5%;
        text-align: left;
      }
    }

    .MainHero {
      &__text {
        margin: 12% 0;
      }

      &__hook {
        color: inherit;
      }

      &__bg {
        width: inherit;
        height: auto;
      }
    }

    .LandingServices {
      &__special {
        margin-top: 15%;
        flex-direction: row;
      }
    }

    .Service {
      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &__subtitle {
        &--special {
          font-size: 40px;
        }
      }

      &--special {
        height: 20%;

        &.infinity {
          .Service__title--special {
            span {
              color: #fa09ff;
              font-size: 2.5rem;
            }
          }
        }

        &.candlemusic-agency {
          .Service__title--special {
            span {
              color: #f4df9b;
              font-size: 1.3rem;
              font-weight: 300;
              letter-spacing: 0.7rem;
              line-height: 2rem;
            }
          }
        }

        &:nth-child(even) {
          a {
            flex-direction: row-reverse;

            .Service__interaction--special {
              background-color: #ffe58f;
              color: black;
              border-radius: 0 0 0 80px;
              padding-left: 8%;
              width: 22%;

              &__logo {
                width: 93px;
                height: 70px;
                background-image: url("../../../assets/img/cma_logo.png");
              }
            }

            .Service__subtitle--special {
              border-color: black;
            }
          }
        }

        a {
          text-decoration: none;
          color: inherit;

          width: 100%;
          display: flex;
          flex-direction: row;
          margin: unset;
        }
      }

      width: 100%;
      display: flex;
      flex-direction: row;
      margin: unset;

      &__interaction {
        width: 50%;
        text-align: center;

        &--special {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: unset;
          height: unset;
          padding-left: 2%;
          background: #4d0777;
          width: 30%;
          border-radius: 0 80px 0 0;

          &__logo {
            font-family: var(--sans);
            font-size: 1.3em;
            font-weight: 600;
          }
        }
      }

      &__title {
        max-width: 75%;

        &--span {
          display: block;
        }

        &--special {
          position: absolute;
          max-width: unset;
          width: 50%;
          text-align: center;
          margin: 130px 12%;

          span {
            display: block;
            font-family: var(--sans);
          }
        }
      }

      &__subtitle--special {
        border-left: 1px solid white;
        padding-left: 4%;
        margin-bottom: 0;
        font-family: "Poppins";
        font-size: 2.5em;
        line-height: 0.9em;
        width: 126px;
        text-transform: uppercase;
      }

      &__banner {
        width: 50%;
        border-radius: unset;

        &--special {
          width: 70%;
          height: 280px;

          &__video {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .Reviews {
      &__title {
        font-size: 52px;
        width: 50%;
        margin: auto;
        padding-left: 26px;
      }

      &__separation-line {
        width: 12%;
      }

      &--wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }

      &__review {
        width: 100%;

        &-wrapper {
          width: 25%;
        }
      }

      &__decorative-dot {
        display: none;
      }

      &__separator {
        display: none;
      }

      &__collabs {
        max-width: unset;
        width: 986px;
        height: 376px;
        margin: auto;
        background-image: url("../../../assets/img/collabs_desktop.png");
        background-size: cover;
      }
    }
  }
}
