.inactive {
    display: none;
}

@media screen and (min-width: 300px) {
    .Service {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 45px 0;

        &__banner {
            width: 85%;
            border-radius: 160px 160px 0 0;
            height: 380px;
            object-fit: cover;
        }

        &__title {
            text-transform: uppercase;
            font-size: 3em;
            font-weight: 400;
            margin: 10px auto 0 auto;
        }
    }

    .Ceremonia {
        width: 100%;
        padding-top: 100px;

        border-top: 1px solid;

        &__title {
            font-size: 1.3em;
            text-transform: uppercase;
            text-align: center;
            font-family: var(--sans);

            width: 90%;
            margin: auto;
        }

        &__types {
            background-color: var(--black);
            padding: 20px 0;
        }

        &__subtype {
            display: block;
            margin: 90px 0;

            &--pic {
                max-width: 100vw;
                height: 430px;
            }
            
            &--title {
                font-size: 2rem;
                color: var(--white);
                font-family: var(--serif);
                font-weight: normal;
                text-align: center;
                text-transform: uppercase;
                margin: unset;
            }
        }
    }
}
