/*
.inactive {
  display: none !important;
}
*/

@media screen and (min-width: 300px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: unset;
  }

  .Service {
    a {
      width: 100%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 45px 0;

    &__banner {
      border-radius: 160px 160px 0 0;
      height: 360px;
      width: 290px;
      background-size: cover;
      margin: auto;
    }

    &__title {
      text-transform: uppercase;
      font-size: 3em;
      font-weight: 400;
      margin: 10px auto 0 auto;
    }

    a {
      text-decoration: none;
      color: inherit;
      text-align: center;
    }
  }

  .Ceremonia {
    width: 100%;
    height: auto;

    &__wrapper {
      width: 100%;

      .Service__banner {
        width: 100%;
      }
    }

    &__options {
      width: 100%;
      padding-top: 100px;

      border-top: 1px solid;
      transition: all 200ms ease-in-out;
      overflow: hidden;
    }

    &__title {
      font-size: 1.3em;
      text-transform: uppercase;
      text-align: center;
      font-family: var(--sans);

      width: 90%;
      margin: auto;
    }

    &__types {
      width: 100%;
      background-color: var(--black);
      padding: 20px 0;
    }

    &__subtype {
      display: block;
      margin: 90px 0;

      &:nth-child(1) {
        image {
          height: 140%;
        }
      }

      &--pic {
        max-width: 100vw;
        height: 430px;
      }

      &--title {
        font-size: 2rem;
        color: var(--white);
        font-family: var(--serif);
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        margin: unset;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: unset;
  }
  .Service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;

    &:nth-child(even) {
      align-self: flex-end;
    }

    &__banner {
      margin: auto;
      width: 300px;
      border-radius: 160px 160px 0 0;
      height: 380px;
      object-fit: cover;
    }

    &__title {
      text-transform: uppercase;
      font-size: 3em;
      font-weight: 400;
      margin: 10px auto 0 auto;
    }

    &.active {
      width: 100%;

      .Ceremonia__top-flex {
        width: 100%;
      }
    }
  }

  .Ceremonia {
    &__options {
      border: none;
      padding-top: unset;
      height: 425px;
      width: auto;
      margin-left: 10px;
    }

    &__top-flex {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: auto;
    }

    &__title {
      text-align: left;
      margin-bottom: 60px;
      font-size: 1.5rem;
    }

    &__types {
      width: 100vw;
      height: unset;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 40px;
    }

    &__subtype {
      &--pic__svg {
        &:hover {
          scale: 1.1;
        }
        width: 40%;
        height: 40%;
      }
      margin: auto 0;
    }
  }
}
