@media (min-width: 300px) {
  .Infinity {
    background-color: var(--black);
    color: var(--white);
    overflow: hidden;

    .MainHero {
      height: 561px;

      &__bg {
        position: absolute;
        height: inherit;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      &__text {
        margin-top: 254px;
        position: relative;
        text-align: center;
        width: 90%;

        * {
          width: 100%;
          font-family: var(--sans);
          color: #fa09ff;
        }
      }

      &__hook {
        font-size: 48px;
        font-weight: bold;
      }
    }

    .InfinityBody {
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 48px;
      }

      &__how-it-works {
        position: relative;
        background-image: url("../../../assets/img/infinity_how_it_works.png");
        background-size: cover;
        background-position: center;

        &:before {
          z-index: -1;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 1) 100%
          );
        }

        padding: 50% 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
          font-family: var(--serif);
          text-transform: uppercase;
          text-align: center;
        }

        &__text {
          margin: auto;
          font-family: "Poppins";
          text-align: center;
          max-width: 90%;
        }

        &__link {
          display: none;

          a {
            color: var(--white);
            padding-top: 10%;
          }
        }
      }

      &__music-types {
        padding-top: 80%;
        font-size: 14px;

        &__oval {
          image {
            width: 150%;
          }
        }

        &__title {
          font-family: var(--serif);
          text-transform: uppercase;
          text-align: center;
        }

        &__customizations {
          .Customization {
            margin: 20% 0;
            &__subtitle {
            }
          }
        }

        .Button {
          display: none;
        }
      }

      &__listen {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-image: url("../../../assets/img/infinity_listen.png");
        background-size: 350%;
        background-position: 50% 2%;

        &__title {
          font-family: var(--sans);
          font-size: 28px;
          text-align: center;
          margin: auto;
        }

        &__button {
          width: 100%;
        }

        a {
          display: flex;
          justify-content: center;
          text-decoration: none;

          .Button {
            font-size: 1.2rem;
            width: 90%;
            height: 60px;
            margin: 8% 0 20% 0;
          }
        }
      }
    }

    .Services {
      &__title {
        font-size: 48px;
        font-family: var(--serif);
        text-transform: uppercase;
        text-align: center;
        margin-top: 80%;
      }

      .Service {
        overflow: hidden;
        min-height: 100vh;
        width: 100%;
        margin: unset;

        &:nth-child(even) {
          .Service__banner {
            border-radius: 0 300px 300px 0;
          }
        }

        &:nth-child(odd) {
          .Service__banner {
            border-radius: 300px 0 0 300px;
          }
        }

        &:nth-child(2) {
          .Service__banner {
            background-image: url("../../../assets/img/infinity_service_1.png");
            background-position: -20%;
          }
        }

        &:nth-child(3) {
          .Service__banner {
            background-image: url("../../../assets/img/infinity_service_2.png");
            background-size: 200%;
            background-position: 20%;
          }
        }

        &:nth-child(4) {
          .Service__banner {
            background-image: url("../../../assets/img/infinity_service_3.png");
          }
        }

        &__banner {
          width: 100%;
          height: 300px;
          margin: unset;
        }

        &__content-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;

          width: 100%;
          margin-top: 90px;
          margin-bottom: 120px;

          align-items: center;
        }

        &__title {
          font-family: var(--sans);
          font-weight: bold;
          font-size: 28px;
        }

        &__text {
          font-family: "Poppins";
          text-align: center;
          margin: 10% 0 !important;

          ul {
            margin-left: -20%;

            li {
              text-align: center;
              list-style: none;
            }
          }
        }
      }
    }

    .InfinityBottomBanner {
      width: 100%;
      height: 415px;
      background-image: url("../../../assets/img/infinity_bottom_banner.png");
      background-size: cover;
      background-position: center;
      margin-top: 80px;
    }
  }
}

@media (min-width: 1200px) {
  .Infinity {
    .MainHero {
      height: 100vh;

      &__banner {
        width: 100%;
      }

      &__text {
        margin: auto;
      }

      &__hook {
        font-size: 4rem;
        margin-bottom: 1%;
      }
    }

    .InfinityBody {
      &__how-it-works {
        padding: unset;

        &__title {
          font-weight: normal;
          margin: 10% 0 5% 0;
        }

        &__text {
          display: flex;
          justify-content: space-evenly;
          width: 80%;
          font-size: 1.4rem;
          font-weight: 100;
          margin: 0 auto;
          margin-bottom: 5%;

          p {
            width: 35%;
            text-align: left;
          }
        }

        &__link {
          display: block;
          width: 65% !important;
          text-align: right;
          margin-bottom: 5%;
        }
      }

      &__music-types {
        padding: unset;
        margin-bottom: 10%;

        &__title {
          font-weight: normal;
          margin: 10% 0 5% 0;
        }

        &__info {
          display: flex;
          flex-direction: row;
        }

        &__oval {
          &--wrapper {
            width: 40% !important;
            margin: auto;
          }
        }

        &__customizations {
          display: flex;
          flex-direction: column;
          width: 40%;
          margin: auto;

          .Customization {
            border: none;
            margin: 30px 20px;
          }
        }
      }

      &__listen {
        height: 900px;
        background-size: cover;
        background-position: 50% 30%;

        &__title {
          width: 100%;
        }

        &__button {
          width: 100% !important;

          a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            width: 100%;

            .Button {
              font-size: 1.2rem;
              width: 15%;
              height: 60px;
              margin: 1% 0 5% 0;
            }
          }
        }
      }
    }

    .Services {
      width: 100%;
      font-size: 1.5rem;
      font-weight: lighter;
      text-align: left;

      &__title {
        margin: 10% 0 2% 0;
        width: 100%;
        font-weight: normal;
      }

      &:nth-child(4) {
        .Service__text {
          width: 235px;
          margin: auto;
        }
      }

      .Service {
        width: 100%;
        min-height: unset;
        height: 100%;
        margin: 10% 0;
        display: flex;
        flex-direction: row;

        &__title {
          margin: unset;
        }

        &__text {
          width: 33%;
          text-align: left;
          margin-left: 0;

          ul {
            margin: auto;
            padding: unset;
            width: 185px;

            li {
              text-align: left;
            }
          }
        }

        &__banner {
          width: 50%;
          height: 500px;
        }

        &__content-wrapper {
          width: 50% !important;
          display: flex;
          flex-direction: column;
          align-items: center;

          .Button {
            width: 33%;
          }
        }

        &:nth-child(odd) {
          flex-direction: row-reverse;
        }
      }
    }

    .InfinityBottomBanner {
      margin: unset;
      margin-top: 5%;
      height: 800px;
      background-size: cover;
      background-position: center;
    }
  }
}
