@font-face {
  font-family: "rogik";
  src: url("../../../assets/rogik.ttf") format("truetype");
}

@font-face {
  font-family: "daily_hustle";
  src: url("../../../assets/daily_hustle.otf") format("truetype");
}

@font-face {
  font-family: "retro_star";
  src: url("../../../assets/retro_star.ttf") format("truetype");
}

@font-face {
  font-family: "snellbt";
  src: url("../../../assets/snellbt.otf") format("truetype");
}

@font-face {
  font-family: "merosa";
  src: url("../../../assets/merosa.otf") format("truetype");
}

@media (min-width: 300px) {
  .Projects {
    color: var(--white);
    background-color: var(--black);

    &__bg-wrapper {
      .MainHero {
        &__bg {
          object-fit: cover;
          object-position: center;
        }

        &__text {
          width: 95%;
        }
      }

      background: url("../../../assets/img/projects_bg.png") no-repeat center;
    }

    .Services {
      font-family: "Poppins";
      overflow: hidden;

      .Service {
        &__banner {
          display: none;
        }

        a {
          width: 95%;
        }
      }

      .rogik {
        .Service__title {
          font-family: "rogik" !important;
        }
      }
      p {
        font-weight: lighter;
      }

      .daily,
      .snell {
        p {
          font-size: 1.5rem;
        }
      }

      .daily {
        .Service__title {
          text-transform: none;
          color: #fffcac;
          font-family: "daily_hustle" !important;
          font-size: 7.5rem;
          line-height: 3rem;
          margin-bottom: 15%;
          text-shadow: 0 0 6px #fffcac;
        }
      }

      .retro {
        .Service__title {
          font-family: "retro_star" !important;
        }
      }

      .kento {
        .Service__title {
          font-family: "kento" !important;
        }
      }

      .snell {
        .Service__title {
          text-transform: none;
          color: #ef4343;
          font-family: "snellbt" !important;
          transform: rotate(-10deg);
          font-size: 6rem;
          line-height: 3.8rem;
          margin-bottom: 15%;
        }
      }
      .merosa {
        .Service__title {
          text-transform: none;
          font-family: "merosa" !important;
        }
      }
    }

    .Button {
      background-color: var(--yellow);
      margin: 30% auto;
      font-size: 1rem;
      height: 60px;

      a {
        color: var(--black);
      }
    }
  }
}

@media (min-width: 1200px) {
  .Projects {
    .Service {
      &:nth-child(odd) {
        align-self: end;
      }

      &:nth-child(even) {
        align-self: start;
      }
    }
  }
}
