@media (min-width: 300px) {
  .ServiceModal {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;

    background: var(--black);
    color: var(--white);

    &__header {
      height: 340px;
      font-family: "Poppins";
      background-size: 400%;
      background-position: 50% 35%;

      &__back-link {
        text-decoration: none;
        font-weight: 600;
        color: var(--white);
        display: block;
        margin: 23px 0 0 18px;

        &--cross {
          display: none;
        }
      }

      &--text {
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: end;
      }

      &__title {
        text-transform: uppercase;
        text-align: center;
        font-family: var(--serif);
        margin-bottom: 5px;
      }

      &__subtitle {
        text-align: center;
        font-size: 1em;
        font-weight: 100;
        width: 65%;
        margin: 0 auto;
      }
    }

    &__body {
      padding-top: 120px;

      .Customization {
        margin: unset;
        margin-bottom: 70px;
      }

      &__premium-customization {
        margin-top: 10%;
        background: var(--yellow);
        color: var(--black);
        border-radius: 0 0 15px 15px;

        &__banner {
          width: 100%;
          height: auto;
        }
      }
    }

    &__footer {
      height: 200px;
      padding-top: 80px;

      &__link {
        display: block;
        width: 100%;
        color: var(--white);
        margin: 10% 0;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1200px) {
  .ServiceModal {
    width: 100%;
    overflow: hidden;

    &__header {
      background-size: cover;
      background-position: 60% 37%;

      &__back-link {
        display: none;

        &--cross {
          display: block;
          color: var(--white);
          text-decoration: none;
          margin: 1% 97%;
        }
      }

      &--text {
        align-items: flex-start;
        height: unset;
        width: 383px;
        margin-top: 155px;
        margin-left: 85px;
      }

      &__title {
        margin: unset;
        width: auto;
        font-size: 54px;
        font-weight: normal;
      }

      &__subtitle {
        margin: unset;
        width: auto;
        text-align: unset;
        font-size: 20px;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: unset;
      margin: 58px 0;

      .Customization {
        margin-bottom: 30px;
        min-height: 60px;
        width: 75%;

        a {
          margin: unset;
          width: 100% !important;
          padding-bottom: 15px;

          &:hover {
            div {
              color: var(--accent);
            }
          }
        }
      }

      &__premium-customization {
        background-color: transparent;
        color: var(--accent);
        width: 700px;

        .Customization {
          margin-top: 0;
          a {
            color: var(--yellow);
            border: none;
          }

          &__decorative-dot {
            display: none;
          }
        }

        margin-bottom: 50px;
      }
    }

    &__footer {
      padding: unset;
      &__link {
        margin: unset;
        margin-left: 25%;
      }
    }
  }
}
