@media (min-width: 300px) {
  .Button {
    width: 95%;
    margin: 0 auto;

    border: 1px solid black;
    border-radius: 100px;

    background-color: var(--white);
    color: var(--black);
    font-family: "Poppins";

    a {
      text-decoration: none;
    }
  }
}

@media (min-width: 1200px) {
  .Button {
    width: 15%;
  }
}
