@media (min-width: 300px) {
  .Button {
    width: calc(100% - 32px);
    height: 60px;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 20px;

    font-size: 18px;
    font-weight: 500;
    line-height: 24px;

    &.black {
      background-color: var(--black);
      color: var(--white);
      border: 1px solid;
    }

    &.yellow {
      background-color: var(--yellow);
    }

    &.transparent {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid;
      filter: invert(1);

      &:hover,
      &:active {
        filter: invert(0);
      }

      &:hover {
        background-color: var(--black);
      }

      &:active {
        background-color: var(--light-black);
      }
    }

    &.small {
      width: 92px;
      height: 21px;

      font-size: 12px;
      line-height: 0;

      background-color: rgba(0, 0, 0, 0);
      border: 1px solid;

      &:hover,
      &:active {
        background-color: var(--black);
        color: var(--white);
      }

      &.yellow {
        color: var(--white);

        &:hover,
        &:active {
          color: var(--yellow);
          border: 1px solid;
        }
      }

      &.infinity {
        &:hover,
        &:active {
          background-color: inherit;
          color: var(--purple);
          border: 1px solid;
        }
      }
    }

    &:hover,
    &:active {
      color: var(--black);
      border: none;
    }

    &:hover {
      background-color: var(--yellow);
    }

    &:active {
      background-color: var(--light-yellow);
    }

    &.infinity {
      &:hover,
      &:active {
        background-color: var(--purple);
        color: white;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Button {
    width: 264px;

    background-color: var(--white);
  }
}
