@media screen and (min-width: 300px) {
  .Customization {
    a {
      text-align: center;
      margin: 30px 20px;
      color: unset;
      text-decoration: none;
    }

    &.infinity {
      color: var(--infinity-text-color);
      border-color: var(--white);
    }

    &__title {
      font-weight: 100;
      font-family: var(--sans);
      text-transform: uppercase;
      margin: unset;
    }

    &__subtitle {
      font-weight: 100;
      font-family: "Poppins";
      opacity: 60%;
      margin: unset;
    }

    &__button {
      margin: 20px 0;
      width: 100px;

      &:active,
      &:focus {
        color: var(--yellow);
        border-color: var(--yellow);
      }

      a {
        color: var(--black);
      }
    }

    &__decorative-dot {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .Customization {
    a {
      text-align: left !important;
      border-bottom: 1px solid;
      display: flex;
      justify-content: space-between;
      padding: 0 2%;
      width: 75% !important;

      div:first-child {
        &:hover {
          translate: 1vw;
        }
      }
    }

    &__title {
      font-size: 1.2rem;
    }

    &__subtitle {
      font-size: 1.2rem;
      margin: unset;
    }

    .Button {
      display: none;
    }

    &__decorative-dot {
      display: block;
      font-size: 1.5rem;
      color: var(--black);
      margin: auto;
    }
  }
}
