@font-face {
  font-family: "melrose";
  src: url("../../../assets/fonts/melrose.otf") format("truetype");
}

@media (min-width: 300px) {
  .Cma {
    background-color: var(--black);
    color: var(--white);

    .MainHero {
      &__bg {
        object-fit: cover;
        object-position: center;
        position: relative;
      }

      &__text {
        display: none;
      }
    }

    .Services {
      display: flex;
      flex-direction: column;
      width: calc(100% - 32px);
      margin: auto;
      align-items: center;
      background-color: #000;

      &__title {
        width: 100%;
        font-family: var(--serif);
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        margin-top: 136px;
        margin-bottom: 200px;
      }

      .Service {
        margin-bottom: 136px;

        p {
          font-family: "Poppins";
          font-size: 2rem;
          text-align: center;
          text-transform: uppercase;
        }
        &__cma-word {
          color: var(--yellow);
          text-transform: none;
          font-family: "melrose";
          font-size: 6rem;
          line-height: 1.1rem;

          &-number {
            opacity: 0.7;
            font-size: 3rem;
          }
        }
      }

      a {
        color: var(--black);
        font-size: 1.1rem;
        width: 100%;
        margin-bottom: 133px;

        div {
          width: 100%;
          height: auto;
        }
      }

      video {
        width: 100vw;
        position: relative;
        object-fit: contain;
        margin-bottom: 15px;
      }

      &__whatsapp-link {
        color: var(--white) !important;
        margin-bottom: 114px !important;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Cma {
    .MainHero {
      &__bg {
        height: 864px;
      }

      &__text {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-between;
        align-items: center;
        color: var(--yellow);
        margin-top: 345px;
      }

      &__subtext {
        margin-top: 163px;
        font-family: var(--sans);
      }
    }

    .Services {
      &__title {
        font-size: 4rem;
        margin: 160px auto;
        width: 714px;
      }

      &__service-container {
        display: flex;
        flex-direction: column;
        width: 1060px;
      }

      .Service {
        width: 460px;
        margin-bottom: 104px;

        p {
          font-size: 1.5rem;
        }
        &__cma-word {
          font-size: 4rem;
        }

        &:nth-child(odd) {
          align-self: start;
        }
      }

      a:has(.Button) {
        margin-top: 140px;
        margin-bottom: 177px;
        text-decoration: none;
        div {
          display: flex;
          align-items: center;

          .Button {
            margin: auto;
          }
        }
      }

      video {
        margin-bottom: 33px;
      }

      &__whatsapp-link {
        font-size: 20px !important;
        margin-bottom: 70px !important;
      }
    }
  }
}
