@media (min-width: 300px) {
  .Personalization {
    .MainHero {
      &__bg {
        background-image: url("../../../assets/img/hero_banners/personalization_banner.jpg");
      }

      &__text {
        overflow-x: hidden;
        word-wrap: break-word;
        width: 90%;
        word-wrap: break-word;
        hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
      }
    }
  }
}
