@media (min-width: 320px) {
    .Services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .Services {
        align-items: start;
    }
}
