@media (min-width: 300px) {
  .Weddings {
    background-color: var(--white);
    color: var(--black);

    .Header__logo {
      filter: invert(1);
    }

    .Menu--wrapper {
      .hamburger-lines {
        .line {
          background-color: var(--black);
        }
      }

      .MenuLinks {
        .MenuLinks__link {
          color: var(--white);

          &--cmagencylink {
            text-shadow:
              0 0 5px #fff,
              0 0 8px #fff3cc;
            color: #fff3cc;
          }
        }
      }
    }

    .MainHero {
      &__bg {
        background-image: url("../../../assets/img/hero_banners/weddings_hero.png");
      }

      &__text {
        text-align: center;
      }
    }
  }
}

@media (min-width: 1200px) {
  .Weddings {
    .Menu--wrapper {
      .MenuLinks {
        .MenuLinks__link {
          color: var(--black);
          &--cmagencylink {
            color: #fff3cc;
          }
        }
      }
    }
  }
}
