@media (min-width: 300px) {
  .Weddings {
    background-color: var(--white);
    color: var(--black);

    .Header__logo {
      filter: invert(1);
    }

    .Menu--wrapper {
      &.active {
        .line {
          background-color: var(--white);
        }
      }

      .lines {
        filter: unset;
      }

      .MenuLinks {
        .MenuLinks__link {
          color: var(--white);
        }
      }
    }

    .MainHero {
      &__bg {
        background-image: url("../../../assets/img/hero_banners/weddings_hero.png");
        background-size: 180%;
        background-position: 50% bottom;
        height: 800px;
      }

      &__text {
        width: calc(100% - 82px);
        font-size: 1rem;
        margin-top: 130px;
        text-align: center;
      }

      &__hook {
        font-size: 28px;
      }
    }

    .Services {
      .Service {
        &__title {
          font-size: 48px;
        }
      }

      .Customization {
        margin-bottom: 40px;

        a {
          margin: 30px 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .Weddings {
    &:has(.Service.active) {
      .MainHero__bg {
        background-image: url("../../../assets/img/hero_banners/weddings_alternate_hero.png");
        background-position: 30% 40%;
      }
    }

    .Menu--wrapper {
      .MenuLinks {
        .MenuLinks__link {
          color: var(--black);
          &--cmagencylink {
            color: #fff3cc;
          }
        }
      }
    }

    .MainHero {
      &__bg {
        background-size: cover;
        background-position: 50% 65%;
      }
    }

    .Services {
      margin-bottom: calc(200px - 45px);

      .Customization {
        a {
          width: 96% !important;
        }
      }

      .Service {
        &__title {
          font-size: 64px;
        }
      }
    }
  }
}
