@font-face {
  font-family: "kento";
  src: url("./assets/kento.ttf") format("truetype");
}

@font-face {
  font-family: "monbaiti";
  src: url("./assets/monbaiti.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --serif: "monbaiti";
  --sans: "kento";
  --black: #0f0f0f;
  --white: #fff;
  --accent: #e2b73d;
  --yellow: #f8dd90;
  --infinity-text-color: #7f6aff;
}

body {
  margin: 0;
  font-family: var(--serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
