@media (min-width: 300px) {
  .Events {
    background-color: var(--white);
    color: var(--black);

    .MainHero__bg {
      background-image: url("../../../assets/img/hero_banners/events_hero_mobile.png");
    }
  }
}
@media (min-width: 1200px) {
  .Events {
    .MainHero__bg {
      background-image: url("../../../assets/img/hero_banners/events_hero_desktop.png");
      background-position: 40% 20%;
    }

    .Services {
      .Service {
        &__title {
          font-size: 64px;
        }
      }
    }
  }
}
